.nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4.5rem;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1;
    pointer-events: none;
    transition: height 0.3s;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-links {
    display: flex;
    gap: 6rem;
    padding-left: 3rem;
}

.navbar-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color 250ms;
}

.navbar-links a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 1.5rem;
}

.navbar-dropdown {
    display: none;
    position: relative;
    width: 100vw;
}

.navbar-dropdown .btn-main {
    margin-top: 20px;
}

.navbar-dropdown-toggle {
    background: #235390;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transform: translateY(-4px);
    cursor: pointer;
}

.nav-bg--dropdown {
    height: 13.9rem;
}

.navbar-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 4.5rem;
    z-index: 100;
    width: 100vw;
    background: transparent;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

.navbar-dropdown-menu a {
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    width: 100%;
    transition: all 200ms;
}

.navbar-dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.navbar-dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255);
}

.navbar-dropdown:focus-within .navbar-dropdown-menu,
.navbar-dropdown:active .navbar-dropdown-menu {
    display: flex;
    flex-direction: column;
}

.log-btn {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 7px 12px;
    transition: all 250ms;
}

.log-btn:hover {
    background: rgba(42, 112, 241, 0.5);
    color: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    cursor: pointer;
}

.log-in-cont {
    display: flex;
    gap: 0.7rem;
}

.log-in-cont span {
    width: 150px;
    color: rgba(255, 255, 255, 0.7);
    transform: translateY(9px);
    cursor: pointer;
}

.log-reg-btns {
    display: flex;
    gap: 0.7rem;
}

.log-reg-btns span {
    transform: translateY(7px);
    color: rgba(255, 255, 255, 0.7);
}

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.cart-icon {
    color: rgba(255, 255, 255, 0.7);
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #4b7eec;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.8rem;
    font-weight: bold;
    pointer-events: none;
}


@media (max-width: 768px) {
    .navbar-left {
        display: none;
    }

    .navbar-dropdown {
        display: flex;
    }
}

@media (max-width: 1000px) {
    .navbar-links {
        gap: 4rem;
    }
}