.main-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 2rem;
}

input,
textarea,
select {
    padding: 0.5rem;
    border: 1px solid #235390;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #4f8cff;
    box-shadow: 0 0 0 2px #4f8cff33;
}

.form-head {
    text-align: center;
    font-weight: 600;
    margin: 0 0 0.25rem 0;
    font-size: 1.25rem;
    color: #235390;
    padding-bottom: 1rem;
}

.btn-main {
    background: linear-gradient(90deg, #4f8cff 0%, #235390 100%);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-main:hover {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-main:active {
    background: #235390;
    transform: scale(0.98);
}